Source: capture-tools
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake
Standards-Version: 3.9.6

Package: capture-tools
Architecture: any
Depends: gnuradio,
         ${shlibs:Depends},
         ${misc:Depends},
         python3-pandas
Description: Tools for manipulating captures from SDR
